@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Redressed',
    cursive;
    background-color: #131416;
    color: #D7D7D7;
    text-align: center;
}

/***********Navbar Styles**********/

.navbar{
    background-color: #131416;
    height: 12vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
.navbar-brand{
    color: #D7D7D7;
    font-family: 'Potta One',
    cursive;
    font-size: 1.6rem;
    padding-left: 3%;
}
.navbar-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: auto;
}

#hidden{
    display: flex;
}

.navbar-item {
    list-style-type: none;
}
.navbar-item a {
    color: #D7D7D7;
    text-decoration: none;
    font-size: 1.3rem;
}
.hamburger{
    position: absolute;
    top: 25px;
    right: 15px;
    display: none;
    z-index: 7 !important;

}

.nav-click{
    width: 30px;
    height: 3px;
    background-color: #D7D7D7;
    border-radius: 2px;
    margin: 3px;
}

@media screen and (max-width: 850px){
    .navbar-item a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 750px) {
    .navbar-item a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {
    .navbar .navbar-links {
        display: none;
    }

    .hamburger{
        display: block;

    }

    .navbar #hidden{
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100%;
        background-color: #131416;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        font-size: 1.2rem;
    }
}

/************Header Styles************/
.header-section{
    height: 78vh;
    text-align: center;
    padding: 12% 7%;
    position: relative;
    z-index: 2;
    margin-top: 50px;
}
.hero{
    font-size: 5rem;
    color: #eca92d;
    text-align: center;
    display: block;
    margin-bottom: 2%;
    font-weight: bold;
}
.type-text{
    font-size: 2rem;

}
.header-button{
    display: block;
    margin-top: 2%;
    text-decoration: none;
    color: #D7D7D7;
    padding: 1%;
    border: 1px solid #eca92d;
    width: 15%;
    margin: 2% auto;
    cursor: pointer;
    z-index: 1;
}
.header-button:hover{
    background-color: #eca92d;
    color: #131416;
}
.green{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d6d45b;
    position: absolute;
    top: 7%;
    right: 15%;
    z-index: -1;
}
.red {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #dd5950;
    position: absolute;
    bottom: 10%;
    left: 15%;
    z-index: -1;
}
@media screen and (max-width: 900px) {

    .green {
        width: 100px;
        height: 100px;
        right: 10%;
    }

    .red {
        width: 100px;
        height: 100px;
        left: 15%;
        bottom: 25%;
    }
}
@media screen and (max-width: 750px){
    .hero{
        font-size: 3rem;
        margin-top: 80px;
    }
    .header-button{
        font-size: 1.2rem;
        width: 30%;
    }
    .green{
            width: 100px;
            height: 100px;
            right: 15%;
            top: 20%;
    }
    .red {
        width: 100px;
        height: 100px;
        left: 15%;
        bottom: 10%;
    }
}

/************Particles Styles*************/

.particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90vh;
    z-index: -1;
}

/*****************about styles ************/

.about-section{
    width: 90%;
    margin: 100px auto;
}
.about{
    font-size: 3rem;
    border-bottom: 2px solid #f34a4a;
    width: 100px;
    padding-bottom: 2%;
    margin: 100px auto;
}
.summary{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}
img{
    height: 80vh;
    width: 390px;
    margin-left: 30px;
    box-shadow: 5px 10px 20px #D7D7D7;
    margin-bottom: 30px;
}
.about-text{
    width: 40%;
    height: 70vh;
    background-color: #fff;
    color: #131416;
    margin-left: -20px;
    padding: 3%;
    text-align: left;
    box-shadow: 5px 10px 20px #D7D7D7; 
    
}

.myName{
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #131416;
}
.about-text p {
    font-size: 1.5rem;
    color: #131416;
}

@media screen and (max-width: 850px){
    img {
        height: 60vh;
        width: 350px;
        box-shadow: 1px 10px 20px #D7D7D7;
        margin-left: -20px;

    }
    .about-text{
                height: 60vh;
                width: 350px;
        font-size: 1rem;
    }
    .summary {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}